body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  color: white;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #dd00fb;
    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin: 0 auto;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 30px;
  background-color: red;
}

.cell:hover {
    box-shadow: 0 0 10px rgba(181, 245, 54, 0.8);
}

.cell.taken {
  pointer-events: none;
}

.message {
    margin: 20px 0;
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    color: #fff;
}


.restart {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.restart:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(27, 100, 177, 0.8);
}